<h1>
    Hello world
    <form action="{{url_for('predict')}}" method="post">
       <input type="text" name="a"/><br>
       <input type="text" name="b"/><br>
       <input type="text" name="c"/><br>
       <input type="text" name="d"/><br>
       <input type="text" name="e"/><br>
       <input type="text" name="f"/><br>
       <input type="text" name="g"/><br>
       <input type="text" name="h"/><br>
       <input type="text" name="i"/><br>
       <input type="text" name="j"/><br>
       <input type="text" name="k"/><br>
       <input type="text" name="l"/><br>
       <input type="text" name="m"/><br>
       <button type="submit">Predict</button>
    </form>
    {{prediction_text}}
</h1>